forgame_expense/WSWSPaymentFacade.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://oa.home.forgame.com:6999/ormrpc/services/WSWSPaymentFacade" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://oa.home.forgame.com:6999/ormrpc/services/WSWSPaymentFacade" xmlns:intf="http://oa.home.forgame.com:6999/ormrpc/services/WSWSPaymentFacade" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="urn:client.wspaymentfacade" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="urn:client.wspaymentfacade" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="WSInvokeException">
    <sequence/>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="generateVoucherResponse">

      <wsdl:part name="generateVoucherReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="WSInvokeException">

      <wsdl:part name="fault" type="tns1:WSInvokeException">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="generateVoucherRequest">

      <wsdl:part name="objectValue" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="insertPaymentBillRequest">

      <wsdl:part name="objectValue" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="insertPaymentBillResponse">

      <wsdl:part name="insertPaymentBillReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="WSWSPaymentFacadeSrvProxy">

      <wsdl:operation name="generateVoucher" parameterOrder="objectValue">

         <wsdl:input message="impl:generateVoucherRequest" name="generateVoucherRequest">

       </wsdl:input>

         <wsdl:output message="impl:generateVoucherResponse" name="generateVoucherResponse">

       </wsdl:output>

         <wsdl:fault message="impl:WSInvokeException" name="WSInvokeException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="insertPaymentBill" parameterOrder="objectValue">

         <wsdl:input message="impl:insertPaymentBillRequest" name="insertPaymentBillRequest">

       </wsdl:input>

         <wsdl:output message="impl:insertPaymentBillResponse" name="insertPaymentBillResponse">

       </wsdl:output>

         <wsdl:fault message="impl:WSInvokeException" name="WSInvokeException">

       </wsdl:fault>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WSWSPaymentFacadeSoapBinding" type="impl:WSWSPaymentFacadeSrvProxy">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="generateVoucher">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="generateVoucherRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.app.webservice.custom.eas.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="generateVoucherResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://oa.home.forgame.com:6999/ormrpc/services/WSWSPaymentFacade" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="WSInvokeException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="WSInvokeException" namespace="http://oa.home.forgame.com:6999/ormrpc/services/WSWSPaymentFacade" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="insertPaymentBill">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="insertPaymentBillRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.app.webservice.custom.eas.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="insertPaymentBillResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://oa.home.forgame.com:6999/ormrpc/services/WSWSPaymentFacade" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="WSInvokeException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="WSInvokeException" namespace="http://oa.home.forgame.com:6999/ormrpc/services/WSWSPaymentFacade" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WSWSPaymentFacadeSrvProxyService">

      <wsdl:port binding="impl:WSWSPaymentFacadeSoapBinding" name="WSWSPaymentFacade">

         <wsdlsoap:address location="http://oa.home.forgame.com:6999/ormrpc/services/WSWSPaymentFacade"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
